npm_modules
bower_components
node_modules
trash
Error.log
.DS_Store
.sass-cache
.tmp
.rvmrc
.trashes
*~

# Optional things
*.sublime-project
*.sublime-workspace
sftp-config.json

.idea/.name

*.xml

*.iml

*.xml

*.xml

*.xml
